html,
body {
    height: 100%;
}

.container-1 {
    background-color: blueviolet;
    width: 80%;
    height: 80%;
    text-align: center;
    margin: auto;
    padding: 10px;
    display: block;
}

.container-2 {
    background-color: brown;
    width: 90%;
    height: 90%;
    height: inherit;
    text-align: center;
    margin: auto;
    padding: 20px;
    margin-top: 25px;
}

p {
    color: burlywood;
}

.text-container {
    border-radius: 25px;
    border: 2px solid black;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    width: 90%;
    height: 150px;
}